.background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: #000;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #fff;
  overflow: hidden;
}

.sky {
  width: 100%;
  height: 70%;
  background-color: skyblue;
  animation: sky 4s linear infinite;
}

.floor {
  width: 100%;
  height: 30%;
  background-color: khaki;
}
.sun {
  position: absolute;
  top: 70px;
  left: -18px;
  width: 32px;
  height: 32px;
  background-color: #fdee4e;
  border-radius: 30px;
  box-shadow: 0px 0px 10px yellow;
  animation: sun 4s linear infinite;
  transform-origin: 110px 70px;
}

.pyramid {
  position: absolute;
  top: 71px;
  left: 40px;
  width: 0px;
  height: 0px;
  border-bottom: calc(40px * 1.732) solid #fff;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  animation: pyramid 4s linear infinite;
}

.pyramid_right {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 61px;
  background: #dddada;
  clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
  animation: pyramid_right 4s linear infinite;
}

.shadow {
  position: absolute;
  top: 140px;
  left: 40px;
  height: 40px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  clip-path: polygon(90% 20%, 76% 0%, 0% 0%);
  animation: shadow 4s linear infinite;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100;
  animation: cover 4s linear infinite;
  opacity: 1;
}

@keyframes sky {
  0% {
    background-color: #eb9b87;
  }
  10% {
    background-color: #aef0ff;
  }
  70% {
    background-color: #aef0ff;
  }
  100% {
    background-color: #b5ccde;
  }
}

@keyframes sun {
  0% {
    background-color: #ffeea5;
    transform: rotate(0deg);
  }
  20% {
    background-color: #fdee4e;
  }

  70% {
    background-color: #fdee4e;
  }

  100% {
    transform: rotate(125deg);
    background-color: #ffeea5;
  }
}

@keyframes shadow {
  0% {
    clip-path: polygon(90% 20%, 76% 0%, 0% 0%);
  }
  15% {
    clip-path: polygon(90% 45%, 76% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(40% 100%, 76% 0%, 0% 0%);
  }

  100% {
    clip-path: polygon(-10% 60%, 76% 0%, 0% 0%);
  }
}

@keyframes cover {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }

  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pyramid_right {
  0% {
    background: #dddada;
  }
  40% {
    background: #dddada;
  }
  50% {
    background: #dadada;
  }
  60% {
    background: #dadada;
  }
  100% {
    background: #fff;
  }
}

@keyframes pyramid {
  0% {
    border-bottom: calc(40px * 1.732) solid #fff;
  }
  40% {
    border-bottom: calc(40px * 1.732) solid #fff;
  }
  50% {
    border-bottom: calc(40px * 1.732) solid #d1d1d1;
  }
  60% {
    border-bottom: calc(40px * 1.732) solid #d1d1d1;
  }
  100% {
    border-bottom: calc(40px * 1.732) solid #dddada;
  }
}
